
$message-bubble-width: 310px;
$messages-width: 630px;
$typebox-width: 207px;
$userbox-left: 27px;
$border-radius-messages: 5px;
$send-button-width: 70px;
$spacing: 8px;
#chatContainer {
    display: flex;
    flex-direction: row;
    #messagesAndUsers {
        display: flex;
        flex-direction: column;
        #messageBox {
            position: absolute;
            width: calc( #{$messages-width} + 15px);
            height: calc(100% - (#{$send-button-width} + #{$spacing} * 7));
            background-color: rgba(234, 245, 247, 0.79);
            border-radius: $border-radius-messages;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow-y: auto;
            padding: 6px;
            .messageContainer{
                width: $message-bubble-width !important;
                &.sent{
                    text-align: right;
                    position: relative;
                    right: 0px;
                    left: calc(100% - #{$message-bubble-width});
                    .message_bubble{
                        background-color: rgb(0, 158, 97);
                    }
                }
                &.received{
                    text-align: left;
                    .message_bubble{
                        background-color: rgb(170, 66, 255);
                    }
                }
                .message_bubble{
                    background-color: #667;
                    border-radius: 7px;
                    width: $message-bubble-width !important;
                    padding: 4px;
                    .messageText{
                        line-height: 1.1em;
                        padding-top: 5px;
                    }
                }
                .messageDate{
                    color: #777;
                    font-size: 11px;
                    font-weight: bold;
                    font-style: normal;
                    top: 4px;
                    position: relative;
                }
            }
        }
        #typeBox {
            position: absolute;
            bottom: 15px;
            width: calc( #{$messages-width} + #{$userbox-left} - 26px);
            height: calc(#{$send-button-width} + #{$spacing} * 2);
            background-color: rgba(57, 111, 142, 0.445);
            border-radius: $border-radius-messages;
            .button2 {
                width: $send-button-width !important;
                max-width: $send-button-width !important;
                min-width: $send-button-width !important;
                height: $send-button-width;
                left: calc( 100% - #{$send-button-width} - #{$spacing});
                top: $spacing;
                position: absolute;
            }
            #typeBoxInput {
                margin: 8px !important;
                width: 536px !important;
                height: 70px !important;
                color: #420b75;
                padding: 5px;
                border: transparent;
                border-radius: 3px;
                resize: none;
                background-color: rgba(255, 255, 255, .7);
            }
        }
    }
    #usersBox {
        position: absolute;
        left: calc( #{$messages-width} + #{$userbox-left});
        width: 307px;
        height: calc(100% - 27px);
        background-color: rgba(100, 100, 100, 0.2);
        border-radius: $border-radius-messages;
        ul {
            padding-left: 0px;
            position: relative;
            top: 10px;
            padding-right: 0px;
            li {
                cursor: pointer;
                padding: 0px 7px;
                &.firstUser {
                    border-top: solid 1px #444;
                }
                &.oddUser {
                    background-color: rgba(150, 150, 150, 0.2);
                }
                &.evenUser {
                    background-color: rgba(206, 204, 204, 0.2);
                }
                .userContainer {
                    display: flex;
                    flex-direction: row;
                    border-bottom: solid 1px #444;
                    margin-top: 5px; // padding-top: 15px;
                    height: 40px;
                    .connectedCircle {
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                        &.activeUser {
                            background-color: green;
                        }
                        &.inactiveUser {
                            background-color: darkgrey;
                        }
                    }
                    .userTextWrap {
                        margin-left: 5px;
                        .nicknameText {
                            color: lightgray;
                        }
                    }
                }
            }
        }
    }
}
