$rightSlideOut_toggle_width: 50px;
$rightSlideOut_inner_width: 80px;
$transition-rules: right 0.2s ease-in-out;

#loginiFrame.loggedInFrame{
    $iFrameWidth_LoggedIn:350px;
    width: $iFrameWidth_LoggedIn !important;
    margin-left: calc(-1 * #{$iFrameWidth_LoggedIn} / 2) !important;
}

#loggedInGrid{
    text-align: center;
    position: relative;
    width: auto;
    .greenText{
        color: green;
    }
    ul {
        padding-left: 0px !important;
    }
    .loginBottomButtons{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#rightSlideOut_toggle {
    position: absolute;
    left: -$rightSlideOut_toggle_width;
    width: $rightSlideOut_toggle_width;
    background: rgba(131, 84, 236,0.5);
    min-height: 70px;
    max-width: $rightSlideOut_toggle_width;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px; 
    text-align: center;
    padding-top: 7px;
    padding-left: 3px;
}

#rightSlideOut {
    &::selection { 
        background: transparent !important;
    }
    position: fixed;
    background: #888;
    border-bottom-left-radius: 40px; 
    height: 500px;
    min-height: 500px;
    top: 12px;
    width: $rightSlideOut_inner_width;
    // right: -$rightSlideOut_inner_width;
    right: -0px;
    transition: $transition-rules;
    -o-transition: $transition-rules;
    -ms-transition: $transition-rules;
    -moz-transition: $transition-rules;
    -webkit-transition: $transition-rules;
}

#rightSlideOut_inner {
    padding: 10px;
}

#rightSlideOut:hover {
    right: 0px;
    #rightSlideOut_toggle {
        background: #8354EC;
    }
}

.borderlessButton {
    cursor: pointer;
    border: solid 3px #333;
    border-radius: 100%;
    padding-left: 3.5px;
    padding-top: 8px;
    width: 67px;
    height: 67px;
        .iconButton {
            width:50px;
            text-shadow: grey 2px 2px;
            &:active,&:focus{
                text-shadow: #555 2px 2px;
                color: #777;
            }
        }
        &:hover{
            background-color: rgba(0,0,0,.1);
        }
        &.loggedInBorder{
            padding-left: 1px;
            background-color: rgba(3, 242, 63, 0.15);
            .iconButton {
                color: rgb(1, 90, 1);
                text-shadow: #7b8877 2px 2px;
                &:active,&:focus{
                    text-shadow: #555 2px 2px;
                    color: rgb(70, 104, 70);
                }
            }
        }
    }

    .loggedInImage {
        width: 230px;
    }
