@import "./node_modules/react-datepicker/src/stylesheets/datepicker.scss";
@import 'helpers/parameters';
@import 'helpers/functions';
@import 'helpers/mixins.button';
@import 'themes/json.scss';
@import 'themes/fonts.scss';
@import 'themes/layouts.scss';
@import 'components/Body.scss';
@import 'components/DateTimePicker.scss';
@import 'components/QueryComponents.scss';
@import 'components/Sidebar.scss';
@import 'components/StageFormLine.scss';
@import 'components/Tabs.scss';
@import 'components/ToggleSwitch.scss';
@import 'components/RightSlideOut.scss';
@import 'components/LoginIFrame.scss';
@import 'components/Tooltip.scss';
@import 'components/Querybox.scss';

$messages-width: 725px;
$typebox-width: 207px;
$userbox-left: 27px;

#chatContainer{
    display: flex;
    flex-direction: row;
    #messagesAndUsers{
        display: flex;
        flex-direction: column;
        #messageBox {
            position: absolute;
            width: $messages-width;
            height: 650px;
            background-color: rgba(250,250,250,0.2);
            border-radius: 8px;
        }
        #typeBox {
            position: absolute;
            bottom: 15px;
            width: calc( #{$typebox-width} + #{$messages-width} + #{$userbox-left} - 11px);
            height: 105px;
            background-color: rgba(250, 250, 250, 0.2);
            border-radius: 8px;
        }
    }
    #usersBox {
        position: absolute;
        left: calc( #{$messages-width} + #{$userbox-left} );
        width: 207px;
        height: 650px;
        background-color: rgba(250,250,250,0.2);
        border-radius: 8px;
    }
}
