@import "./node_modules/react-datepicker/src/stylesheets/datepicker.scss";
@import 'helpers/parameters';
@import 'helpers/functions';
@import 'helpers/mixins.button';
@import 'themes/json.scss';
@import 'themes/fonts.scss';
@import 'themes/layouts.scss';
@import 'components/Body.scss';
@import 'components/DateTimePicker.scss';
@import 'components/QueryComponents.scss';
@import 'components/Sidebar.scss';
@import 'components/StageFormLine.scss';
@import 'components/Tabs.scss';
@import 'components/ToggleSwitch.scss';
@import 'components/RightSlideOut.scss';
@import 'components/LoginIFrame.scss';

$tooltip-color: rgba(244, 179, 151,0.9);
$right-quicktools: 65px;
.showTooltip {
    opacity: 1;
}

.tooltipContainerClass {
    position: relative;
    top: -35px;
    .generalTooltip {
        position: fixed; // display: inline;
        background-color: $tooltip-color;
        color: black;
        border-radius: 5px;
        font-size: 14px; // padding: 1px 5px;
        // min-height: 40px;
        opacity: 1 !important;
        padding: 10px !important;
        height: auto !important;
        text-align: center;
        &.rightTooltip {
            &.quicktools {
                right: $right-quicktools;
                &::after {
                    border-left: 8px solid $tooltip-color;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 0px solid transparent;
                    left: calc( 100% + 20px) !important;
                    right: 0px;
                    position: absolute;
                    top: 10px;
                    left: 25%;
                    margin-left: -21px; // width: 0;
                    // height: 0;
                }
            }
            width: fit-content;
        }
        &::after {
            border-top: 10px solid $tooltip-color;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            bottom: 0px;
            content: "";
            position: absolute;
            top: 40px;
            left: 25%;
            margin-left: -21px;
            width: 0;
            height: 0;
        }
    }
}
